pkgbase = minetest-mineclone5
	pkgdesc = MineClone 2 with no release milestones, rapid delivery, merges by one approval and no MC target version limitations.
	pkgver = 0.71.8
	pkgrel = 1
	url = https://content.minetest.net/packages/kay27/mineclone5/
	arch = any
	license = GPLv3
	depends = minetest-common
	noextract = mineclone5-0.71.8.zip
	options = !strip
	source = mineclone5-0.71.8.zip::https://content.minetest.net/packages/kay27/mineclone5/releases/9938/download/
	sha256sums = e5d36421497845b76fbd766d59994d01782870a3a655c34b432215c02f54a29c

pkgname = minetest-mineclone5
