pkgbase = minetest-mesecons-lab
	pkgdesc = Mesecons laboratory and tutorials
	pkgver = 2021.12.09
	pkgrel = 1
	url = https://content.minetest.net/packages/BuckarooBanzay/mesecons_lab/
	arch = any
	license = MIT
	depends = minetest-common
	noextract = mesecons_lab-2021.12.09.zip
	options = !strip
	source = mesecons_lab-2021.12.09.zip::https://content.minetest.net/packages/BuckarooBanzay/mesecons_lab/releases/9943/download/
	sha256sums = 295495ef607fd0b5d29eafa33fef8a67228985240d67c6a43e77fb708e0bb61a

pkgname = minetest-mesecons-lab
